body {
    background-color: #000;
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul.eventStream, li {
    list-style: none;
    margin: 0px;
    padding: 1px 0px;
}

ul.eventStream li i {
    color: #c19c05;
}

ul.eventStream li.stderr {
    color: #e6483f;
}

ul.eventStream li.system {
    font-weight: bold;
    padding: 15px 0px;
    color: blue;
}

ul.eventStream strong.error {
    display: block;
    padding: 20px 0;
    margin: 20px 0;
}

#keepScrolling {
    background-color: yellowgreen;
    color: black;
    padding: 20px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.logDetail {
    position: relative;
}

.logDetail h4 {
    position: absolute;
    margin: 5px 0px;
    padding: 0px 0px;
    top: 0px;
    right: 10%;
    color: white;
    background-color: rgba(0,0,0)
}
.logDetail h4 a {
    color: yellow;
}

.logDetail iframe {
    width: 90%;
    height: 200px;
}

.containersToChoose {
    padding-bottom: 10px;
    overflow: hidden;
    margin: auto;
}

.containersToChoose ul {
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containersToChoose ul,
.containersToChoose li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.containersToChoose li {
    margin-right: 5px;
    float: left;
    
}

.containersToChoose li a {
    color: white;
    font-weight: bold;
    background-color: grey;
    padding: 6px;
    display: block;
}